<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Bluetooth Switch</string>
	<key>CFBundleIdentifier</key>
	<string>com.mikepiontek.widget.bluetoothswitch</string>
	<key>CFBundleName</key>
	<string>BluetoothSwitch</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3</string>
	<key>CFBundleVersion</key>
	<string>2.3</string>
	<key>CloseBoxInsetX</key>
	<integer>73</integer>
	<key>CloseBoxInsetY</key>
	<integer>10</integer>
	<key>MainHTML</key>
	<string>BluetoothSwitch.html</string>
	<key>Plugin</key>
	<string>BluetoothSwitch.widgetplugin</string>
</dict>
</plist>
