<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Delivery Status</string>
	<key>CFBundleIdentifier</key>
	<string>com.junecloud.widget.deliverystatus</string>
	<key>CFBundleName</key>
	<string>Delivery Status</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>6.0</string>
	<key>CloseBoxInsetX</key>
	<integer>12</integer>
	<key>CloseBoxInsetY</key>
	<integer>14</integer>
	<key>MainHTML</key>
	<string>Main.html</string>
	<key>Plugin</key>
	<string>DeliveryStatus.widgetplugin</string>
</dict>
</plist>